@font-face {
	font-family: Norse;
	src: url(./assets/Norse-Bold.otf);
}

body {
	margin: 0;
	padding: 0;
}

.main {
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 100vh;
}

.left {
	background-image: url(assets/bg.avif);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	width: 35vw;
	color: white;
	font-family: Norse;
}

.right {
	display: flex;
	flex-direction: column;
	width: 65vw;
	background-color: #f5f5f5;


}

.one,
two {
	height: 33vh;
}

.one {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
	margin-left: 5%;
	margin-bottom: 5%;
}

.two {
	background-color: white;
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.two h3 {
	margin-left: 5%;
}

.form-divs {
	display: flex;
	gap: 4vw;
	margin-left: 5%;
	margin-bottom: 4%;
}

.input-divs {
	display: flex;
	flex-direction: column;
}
